.hero-img{
    width: 100%;
    height: 400px;
    background-image: url(../img/home/hero-mobile.jpg);
    background-image: no-repeat;
    background-size: cover;
}

.hero h2 {
    margin: 0;
    padding: 88px 24px;
    font-weight: var(--text-weight);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.hero-inf-img{
    width: 100%;
    height: 400px;
    background-image: url(../img/home/hero-rodape-mobile.png);
    background-image: no-repeat;
    background-size: cover;
}

.hero-package{
    width: 100%;
    height: 460px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(../img/travel-package/hero-package.jpg);
    background-image: no-repeat;
    background-size: cover;
    background-position-x: -240px;
    color: var(--background-primary-color);
    margin-bottom: 88px;
}

.hero-content{
    padding: 64px 52px;
    box-sizing: border-box;
}

.hero-package .hero-content h1{
    font-size: 48px;
}

.hero-package .hero-content hr{
    width: 180px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 16px auto 32px;
    border: none;
}

.hero-inf-travel-package{
    height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(../img/travel-package/hero-inf-travel-package-mobile.png);
    background-size: cover;
}

.hero-contato{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(../img/contato/hero-contato-mobile.jpg);
    background-size: cover;
    width: 100%;
    height: 460px;
    background-position-x: -120px;
    margin-bottom: 88px;
}

.hero-content-contato{
    width: 100%;
    height: 362px;
    margin: 0 auto;
    padding: 80px 20px;
    color: var(--background-primary-color);
}

.hero-content-contato h1{
    font-size: 42px;
}

.hero-content-contato hr{
        margin: 16px 0 32px;
}

.hero-inf-contato{
    background-image: url(../img/contato/hero-rodape-contato-mobile.png);
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 88px;
}

@media screen and (min-width: 768px) {
   
   .hero-img{ 
        height: 620px;
        background-image: url(../img/home/hero-tablet.jpg);
        background-image: no-repeat;
        background-size: cover;
}

    .hero h2 {
        padding: 88px 60px;
        font-size: 32px;
}

    .hero-inf-img{
        background-image: url(../img/home/hero-rodape-tablet.png);
}

    .hero-package{
        height: 620px;
        margin-bottom: 104px;
}

    .hero-content{
        padding: 150px 69px;
}

    .hero-package .hero-content hr{
        margin: 16px 0 32px;
    }

    .hero-package .hero-content p{
        font-size: 32px;
        line-height: 150%;
}

    .hero-inf-travel-package{
        background-image: url(../img//travel-package/hero-inf-travel-package-tablet.png);
}

    .hero-contato{
        background-image: url(../img/contato/hero-contato-tablet.png);
        height: 620px;
        background-position-x: 0;
}

    .hero-content-contato{
        width: 579px;
        height: 255px;
        padding: 183px 0;
}   

    .hero-content-contato h1{
        font-size: 48px;
}

    .hero-content-contato p{
        font-size: 32px;
        line-height: 150%;
}

    .hero-inf-contato{
        background-image: url(../img/contato/hero-rodape-contato-tablet-desk.jpg);
    }
}

@media screen and (min-width: 1024px) {
   
   .hero-img{ 
        height: 620px;
        background-image: url(../img/home/hero-desktop.jpg);
        background-image: no-repeat;
        background-size: cover;
}

    .hero h2 {
        padding: 88px 120px;
}

    .hero-inf-img{
        background-image: url(../img/home/hero-rodape-desk.png);
}

    .hero-package{
        background-position: 0;
}

    .hero-package .hero-content hr{
        margin: 16px auto 32px 0;
}
    .hero-inf-travel-package{
        background-image: url(../img/travel-package/hero-inf-travel-package-desk.png);
}
}

@media screen and (min-width: 1440px){
    .hero-inf-img{
        height: 600px;
    }

    .hero-content{
        padding: 0;
        width: 580px;
        margin: auto 120px;
        padding-top: 150px;
        
}

    .hero-inf-travel-package{
        height: 600px;
        background-image: url(../img/travel-package/hero-inf-travel-package-desk.png);
}

    .hero-inf-contato{
        background-image: url(../img/contato/hero-rodape-contato-desk.png);
        height: 600px;
}

    .hero-contato{
        background-image: url(../img/contato/hero-contato-desk.png);
}

    .hero-content-contato{
        margin: 0;
        padding-top: 210px;
        padding-left: 120px;
        width: 700px;
}

}

@media  screen and (min-width: 1920px){
    .hero h2{
        padding: 88px 160px;
    }

    .hero-inf-img{
        background-position-y: -60px;
    }
}