 .card{
    width: 312px;
    height: 288px;
    padding: 24px 16px;
    box-sizing: border-box;
    color: var(--text-secondary-color);
    text-align: center;
    border-radius: 16px;
 }
 .card header{
    display: block;
    position: static;
    padding: 0;
    background-color: transparent;
}

 .card header p{
    font-weight: var(--text-weight);
    font-size: 20px;
 }

 .card header h3{
    font-weight: var(--title-weight);
    font-size: 40px;
    margin-top: 8px;
 }

.card header span{
    display: inline-block;
    font-size: 32px;
    margin-top: 24px;  
 }

 .card footer a{
    display: block;
    margin-top: 24px;
 }

.card.japao{
   background: url(../img/card-japao.jpg);
   background-size: cover;
}

.card.san-andreas{
   background: url(../img/card-san-andreas.jpg);
   background-size: cover;
}

.card.paraiba{
   background: url(../img/card-paraiba.jpg);
   background-size: cover;
}

.card.manaus{
   background: url(../img/card-manaus.jpg);
   background-size: cover;
}

.offers-cards{
   display: flex;
   flex-direction: column;
   gap: 24px;
   align-items: center;
}

 @media screen and (min-width:768px){
   .offers-cards{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
   }
}

 @media screen and (min-width:1024px){
  .card{
      width: 450px;
      height: 308px;
}
  .card header h3{
      font-size: 48px;
}
  .card header span{
      font-size: 40px;
}
}

 @media screen and (min-width:1440px){
   .card{
      width: 588px;
}
}

 @media screen and (min-width:1920px){
   .card{
      width: 730px;
}
}