.payments{
    display: flex;
    width: 312px;
    margin: 0 auto;
}

.content-payments{
    margin: 0 auto 88px;
}

.text-payments{
    margin: 0 auto 24px ;
    justify-content: center;
    width: 312px;
}

.text-payments h3{
    margin: 0 auto 24px ;
}

.grid-images{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2 1fr);
    gap: 24px;
}

.image-bags{
    background-image: url(../img/malas-mobile.png);
    background-size: cover;
    width: 144px;
    height: 254px;
}

.image-passport{
    background-image: url(../img/passaporte-mobile.png);
    background-size: cover;
    width: 144px;
    height: 254px;
}

.image-people{
    background-image: url(../img/pessoas-mobile.png);
    background-size: cover;
    width: 312px;
    height: 182px;
    grid-column: span 2;
}

.package-payments-content{
    width: 312px;
    margin: 0 auto;
}

.package-payments .package-payments-content h2{
    font-size: 40px;
    margin-bottom: 12px;
}

.package-payments .package-payments-content h3{
    margin-bottom: 12px;
}

.package-payments .package-payments-content p{
    margin-bottom: 16px;
}

.package-payments .package-payments-content .button{
    text-align: center;
    width: 312px;
}

.image-japan1{
    background-image: url(../img/image-japan1-mobile.png);
    width: 100%;
    height: 254px;
    background-size: cover;
    margin: 0 auto;
}

.image-japan2{
    background-image: url(../img/image-japan2-mobile.png);
    width: 100%;
    height: 254px;
    background-size: cover;
}

.image-japan-large{
    background-image: url(../img/image-japan-large-mobile.png);
    height: 182px;
    background-size: cover;
    grid-column: span 2;
}

.package-payments-grid{
    width: 312px;
    height: 460px;
    justify-content: center;
    margin: 24px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 22px;
}

 @media screen and (min-width:768px){
    .text-payments{
        height: 122px;
        width: 648px;
}

    .image-bags{
        width: 312px;
        height: 254px;
        background-image: url(../img/malas-tablet.png);
}

    .image-passport{
        width: 312px;
        height: 254px;
        background-image: url(../img/passaporte-tablet.png);
}

    .image-people{
        width: 648px;
        height: 182px;
        background-image: url(../img/pessoas-tablet.png);        
    }

    .package-payments-content{
        width: 648px;
    }

    .image-japan1{
        background-image: url(../img/image-japan1-tablet-desk.png);
    }

    .image-japan2{
        background-image: url(../img/image-japan2-tablet-desk.png);
    }

    .image-japan-large{
        background-image: url(../img/image-japan-large-tablet-desk.png);
    }

    .package-payments-grid{
        width: 648px;
}
 }

  @media screen and (min-width:1440px){
    .content-payments{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto 88px;
    }

    .text-payments{
        width: 385px;
        margin: 0 23px auto;
    }

    .grid-images{
        width: 790px;
    }

    .image-bags{
        width: 384px;
        background-image: url(../img/malas-desk.png);
}

    .image-passport{
        width: 384px;
        background-image: url(../img/passaporte-desk.png);
}

    .image-people{
        width: 790px;
        background-image: url(../img/pessoas-desk.png);
}
}

 