 .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
 }
 
 .destinations-itens header{
    display: block;
    position: static;
    padding: 0;
    background-color: transparent;
}

 .destinations-itens header h4{
    font-size: 28px;
    font-weight: var(--title-weight);
    margin-bottom: 24px;
}

 .item p{
    width: 312px;
    font-size: 20px;
    font-weight: var(--text-weight);
    line-height: 32px; 
    margin-bottom: 24px;
}

.img-item-tokyo{
    width: 312px;
    height: 360px;
    background-size: cover;
    background-image: url(../img/tokyo-mobile.png);
    margin-bottom: 24px;
}

.img-item-osaka{
    width: 312px;
    height: 360px;
    background-size: cover;
    background-image: url(../img/osaka-mobile.png);
    margin-bottom: 24px;
}

.item .button{
    width: 312px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .img-item-tokyo{
        width: 648px;
        height: 452px;
        background-image: url(../img/tokyo-tablet-desk.png);
    }
    .img-item-osaka{
        width: 648px;
        height: 452px;
        background-image: url(../img/osaka-tablet-desk.png);
    }
    
    .item p{
        width: 648px;
    }

    .item footer{
        align-self: flex-start;
    }
    .item{
        width: 648px;
    }
}

@media screen and (min-width: 1440px){
    .destinations-itens{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .img-item-tokyo{
        width: 588px;
    }
    .img-item-osaka{
        width: 588px;
    }
    .item{
        width: 588px;
    }
    .item p{
        width: 588px;
    }
}