.statement{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 56px;
}

.statement-container{
    width: 312px;
}

.statement .statement-container article{
    margin-bottom: 32px;
}

.statement .statement-container header{
    background-color: var(--background-primary-color);
    padding: 0;
}

.statement .statement-container header p {
    font-size: 16px;
    line-height: 28px;
}

.statement .statement-container footer{
    display: flex;
    width: 286px; 
    gap: 24px;
}

.statement .statement-container footer .profile-content{
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 72px;
    justify-content: space-around;
}

.statement .statement-container footer h4 {
    font-size: 20px;
    font-weight: var(--title-weight);
}

.rating{
    font-size: 42px;
    line-height: 20px;
    color: var(--primary-color);
    align-items:  center;
}

.travel-package-statement-container article{
    width: 312px;
    margin: 0 auto;
}

.travel-package-statement-container header{
    padding: 0;
    background-color: var(--background-primary-color)
}

.travel-package-statement-container p{
    font-size: 16px;
    line-height: 28px;
}

.travel-package-statement-container img{
    width: 86px;
}

.travel-package-statement-container footer{
    display: flex;
    margin: 8px auto 32px;
    align-items: center;
    gap: 24px;
}

.travel-package-statement-container h4{
    font-size: 20px; 
    margin-bottom: 10px;
    text-align: center;
}


@media screen and (min-width:768px) {
    .statement-container{
        width: 698px;
    }   

    .statement .statement-container header p{
        margin-bottom: 8px;
    }

    .travel-package-statement-container article{
        width: 648px;
    }

    .travel-package-statement-container h4{ 
        margin-bottom: 18px;
    }
}

@media screen and (min-width:1440px) {
    .statement-container{
        display: flex;
        flex-direction: row;
}
    
    .statement-container{
        width: 1200px;
    }  

    .travel-package-statement-container article{
        width: 384px;
    }

    .travel-package-statement-container{
        display: flex;
        flex-direction: row;
        padding: 32px 120px;
    }

    .travel-package-statement-container .span-footer{
       margin-top: 35px;
}
}

