.statement{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statement-container{
    width: 312px;
}

.statement .statement-container article{
    margin-bottom: 32px;
}

.statement .statement-container header{
    background-color: var(--background-primary-color);
    padding: 0;
}

.statement .statement-container header p {
    font-size: 16px;
    line-height: 28px;
}

.statement .statement-container footer{
    display: flex;
    width: 286px; 
    gap: 24px;
}

.statement .statement-container footer .profile-content{
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 72px;
    justify-content: space-around;
}

.statement .statement-container footer h4 {
    font-size: 20px;
    font-weight: var(--title-weight);
}

.statement .statement-container footer .rating{
    font-size: 42px;
    line-height: 20px;
    color: var(--primary-color);
    align-items:  center;
}

@media screen and (min-width:768px) {
    .statement-container{
        width: 698px;
    }   

    .statement .statement-container header p{
        margin-bottom: 8px;
    }
}

@media screen and (min-width:1440px) {
    .statement-container{
        display: flex;
        flex-direction: row;
}
    
    .statement-container{
        width: 1200px;
    }  
}

