.blog-tokyo{
    padding: 0 24px;
    margin: 88px 0;
}

.blog-tokyo .section-title h2{
    font-size: 32px;
}

.blog-tokyo h3{
    font-size: 28px;
    margin: 32px 0 24px;
}

.blog-tokyo p{
    margin-bottom: 24px;
}

.arrival-img {
    background-image: url(../img/blog/blog-arrival-mobile.png);
    width: 312px;
    height: 360px;
    background-size: cover;
}

.accommotations-img{
    background-image: url(../img/tokyo-mobile.png);
    width: 312px;
    height: 360px;
    background-size: cover;
}